# Python Project
## -Umme Rubaiyat Chowdhury (DS3)

IMU: 
An inertial measurement unit (IMU) measures and reports raw or filtered angular rate and specific force/acceleration experience by the object it is attached to. Data outputs for an IMU are typically body-frame accelerations, angular rates and (optionally) magnetic field measurements.

The columns of the dataset are:
1. Category: The category to which this IMU belongs
2. Manufacturer: Name of the manufacturer
3. part_number: Discrete part number
4. sku: stock keeping unit
5. alt_sku: alternate stock keeping unit
6. Description: description of the product
7. Status: Whether it is instock or not
8. Quantity: Quantity available
9. Price: Price of the product
10. sku_create_date: when was the product procured.
Solve these questions:

For data In Stock:

1. Which are the top Manufacturers with price, quantity,
2. Which are the most profitable products?
3. Which is the product where you have seen decrease in the price?
4. Which is the product where you have seen increase in the price?
5. Which is the top category by price and quantity?
6. Which products are aging?
7. How to Decrease the product aging?
 
Data Not in Stock

8. Which are the top Manufacturers with price, quantity,
9. Which are the most profitable products?
10. Which is the product where you have seen decrease in the price?
11. Which is the product where you have seen increase in the price?
12. Which is the top category by price and quantity?

In [5]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [6]:
df= pd.read_excel("imus.xlsx")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 10 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   category         1048575 non-null  int64
 1   manufacturer     1048575 non-null  object
 2   part_number      1048575 non-null  object
 3   sku              1048575 non-null  object
 4   alt_sku          4170 non-null     object
 5   description      1048575 non-null  object
 6   status           1048575 non-null  object
 7   qty              1048575 non-null  int64
 8   price            1048575 non-null  float64
 9   sku_create_date  1048575 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 80.0+ MB

In [8]:
#Converting into Data Frame
df=pd.DataFrame(df)
df.head()

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
0,1539,MS-OPEN VALUE SUBSCRIPTION,021-09108,BA0011,NaN,"1YR OFFICESTD ALNG LICSAPK OLV, D AP",No Stock,0,143.58,2020-08-17
1,1539,MS-OPEN VALUE SUBSCRIPTION,059-07014,BA0025,NaN,"1YR WORD ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
2,1539,MS-OPEN VALUE SUBSCRIPTION,065-06444,BA0039,NaN,"1YR EXCEL ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
3,1539,MS-OPEN VALUE SUBSCRIPTION,076-04355,BA0067,NaN,"1YR PRJCT ALNG LICSAPK OLV D AP,",No Stock,0,217.60,2020-08-17
4,1582,MS-OPEN VALUE SUBSCRIPTION,077-05318,BA0080,NaN,"1YR ACCESS ALNG LICSAPK OLV D, AP",No Stock,0,56.09,2020-08-17

In [9]:
df

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
0,1539,MS-OPEN VALUE SUBSCRIPTION,021-09108,BA0011,NaN,"1YR OFFICESTD ALNG LICSAPK OLV, D AP",No Stock,0,143.58,2020-08-17
1,1539,MS-OPEN VALUE SUBSCRIPTION,059-07014,BA0025,NaN,"1YR WORD ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
2,1539,MS-OPEN VALUE SUBSCRIPTION,065-06444,BA0039,NaN,"1YR EXCEL ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
3,1539,MS-OPEN VALUE SUBSCRIPTION,076-04355,BA0067,NaN,"1YR PRJCT ALNG LICSAPK OLV D AP,",No Stock,0,217.60,2020-08-17
4,1582,MS-OPEN VALUE SUBSCRIPTION,077-05318,BA0080,NaN,"1YR ACCESS ALNG LICSAPK OLV D, AP",No Stock,0,56.09,2020-08-17
...,...,...,...,...,...,...,...,...,...,...
1048570,1241,IOSAFE DIRECT SHIP,75200-3838-1500,6QP586,NaN,"IOSAFE 1019+ NAS 5X4TB WITH 5YR, DATA RECOVERY...",No Stock,0,4557.08,2020-08-17
1048571,1241,IOSAFE DIRECT SHIP,75200-3838-1500,6QP586,NaN,"IOSAFE 1019+ NAS 5X4TB WITH 5YR, DATA RECOVERY...",No Stock,0,4557.08,2020-08-17
1048572,1241,IOSAFE DIRECT SHIP,75200-3840-1500,6QP587,NaN,"IOSAFE 1019+ NAS 5X8TB WITH 5YR, DATA RECOVERY...",No Stock,0,7034.83,2020-08-17
1048573,1241,IOSAFE DIRECT SHIP,75200-3840-1500,6QP587,NaN,"IOSAFE 1019+ NAS 5X8TB WITH 5YR, DATA RECOVERY...",No Stock,0,6836.14,2020-08-17
1048574,1241,IOSAFE DIRECT SHIP,75200-3840-1500,6QP587,NaN,"IOSAFE 1019+ NAS 5X8TB WITH 5YR, DATA RECOVERY...",No Stock,0,6836.14,2020-08-17

In [10]:
df.index

RangeIndex(start=0, stop=1048575, step=1)

In [11]:
df.describe(include="all")

<ipython-input-11-7150bae0ffd8>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include="all")

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
count,1.048575e+06,1048575,1048575,1048575,4170,1048575,1048575,1.048575e+06,1.048575e+06,1048575
unique,NaN,1383,311028,355013,1751,315756,2,NaN,NaN,1
top,NaN,ADDON,FEE SKU,5PQ193,3FH357,"ALCATEL XFP 80KM DWDM LC XCVR, COMPAT TAA XCVR...",No Stock,NaN,NaN,2020-08-17 00:00:00
freq,NaN,149189,39,18,28,774,889913,NaN,NaN,1048575
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-17 00:00:00
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-17 00:00:00
mean,2.175646e+03,NaN,NaN,NaN,NaN,NaN,NaN,1.883631e+01,2.228255e+03,NaN
std,2.554440e+03,NaN,NaN,NaN,NaN,NaN,NaN,5.064869e+02,9.159402e+04,NaN
min,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,NaN
25%,7.010000e+02,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,2.586000e+01,NaN
50%,1.231000e+03,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,1.261500e+02,NaN
75%,2.240000e+03,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,6.506700e+02,NaN
max,9.999000e+03,NaN,NaN,NaN,NaN,NaN,NaN,5.999500e+04,8.497453e+07,NaN

In [12]:
df.isnull().sum()

category                 0
manufacturer             0
part_number              0
sku                      0
alt_sku            1044405
description              0
status                   0
qty                      0
price                    0
sku_create_date          0
dtype: int64

In [13]:
df.nunique()

category              153
manufacturer         1383
part_number        311028
sku                355013
alt_sku              1751
description        315756
status                  2
qty                  1008
price              112476
sku_create_date         1
dtype: int64

In [14]:
#Missing Data treatment
df.dropna(how="all")

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
0,1539,MS-OPEN VALUE SUBSCRIPTION,021-09108,BA0011,NaN,"1YR OFFICESTD ALNG LICSAPK OLV, D AP",No Stock,0,143.58,2020-08-17
1,1539,MS-OPEN VALUE SUBSCRIPTION,059-07014,BA0025,NaN,"1YR WORD ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
2,1539,MS-OPEN VALUE SUBSCRIPTION,065-06444,BA0039,NaN,"1YR EXCEL ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
3,1539,MS-OPEN VALUE SUBSCRIPTION,076-04355,BA0067,NaN,"1YR PRJCT ALNG LICSAPK OLV D AP,",No Stock,0,217.60,2020-08-17
4,1582,MS-OPEN VALUE SUBSCRIPTION,077-05318,BA0080,NaN,"1YR ACCESS ALNG LICSAPK OLV D, AP",No Stock,0,56.09,2020-08-17
...,...,...,...,...,...,...,...,...,...,...
1048570,1241,IOSAFE DIRECT SHIP,75200-3838-1500,6QP586,NaN,"IOSAFE 1019+ NAS 5X4TB WITH 5YR, DATA RECOVERY...",No Stock,0,4557.08,2020-08-17
1048571,1241,IOSAFE DIRECT SHIP,75200-3838-1500,6QP586,NaN,"IOSAFE 1019+ NAS 5X4TB WITH 5YR, DATA RECOVERY...",No Stock,0,4557.08,2020-08-17
1048572,1241,IOSAFE DIRECT SHIP,75200-3840-1500,6QP587,NaN,"IOSAFE 1019+ NAS 5X8TB WITH 5YR, DATA RECOVERY...",No Stock,0,7034.83,2020-08-17
1048573,1241,IOSAFE DIRECT SHIP,75200-3840-1500,6QP587,NaN,"IOSAFE 1019+ NAS 5X8TB WITH 5YR, DATA RECOVERY...",No Stock,0,6836.14,2020-08-17
1048574,1241,IOSAFE DIRECT SHIP,75200-3840-1500,6QP587,NaN,"IOSAFE 1019+ NAS 5X8TB WITH 5YR, DATA RECOVERY...",No Stock,0,6836.14,2020-08-17

In [15]:
#Typecasting
#o need

For Data in Stock

In [42]:
stock_df = df[df['status']=="In Stock"]
stock_df

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
253,9920,CASE LOGIC-PERSONAL & PORTABLE,3200943,BA6371,NaN,"LAPTOP ROLLING CASE BLACK, SECURITY FRIENDLY 17IN",In Stock,7,99.00,2020-08-17
271,531,OMNITRON SYSTEMS,7206-0,BA6834,NaN,"1000BASE-SX SFP LC/MM/DF 850NM, 550M PLUGGABLE...",In Stock,2,59.09,2020-08-17
320,9070,ZEBRA ENTERPRISE MCD-A1,SAC5070-800CR,BC0227,NaN,"RS507 8SLOT BATTERY CHARGE KIT, EXT PWR SUPL/U...",In Stock,3,500.06,2020-08-17
324,9080,ZEBRA ENTERPRISE MCD-A1,KT-CLMPT-RS507-01R,BC0232,NaN,"RS507 TRIGGER SWIVEL DOES NOT, INCLUDE STRAP/B...",In Stock,115,86.34,2020-08-17
326,9080,ZEBRA ENTERPRISE MCD-A1,KT-PAD-RS507-10R,BC0234,NaN,"10 CT COMFORT PADS FOR RS507,",In Stock,42,51.80,2020-08-17
...,...,...,...,...,...,...,...,...,...,...
1048469,1241,IOSAFE,75200-3838-1500,6QP579,NaN,"IOSAFE 1019+ NAS 5X4TB WITH 5YR, DATA RECOVERY...",In Stock,2,4557.08,2020-08-17
1048470,1241,IOSAFE,75200-3838-1500,6QP579,NaN,"IOSAFE 1019+ NAS 5X4TB WITH 5YR, DATA RECOVERY...",In Stock,2,4557.08,2020-08-17
1048471,1241,IOSAFE,75200-3838-1500,6QP579,NaN,"IOSAFE 1019+ NAS 5X4TB WITH 5YR, DATA RECOVERY...",In Stock,2,4557.08,2020-08-17
1048472,1241,IOSAFE,75200-3838-1500,6QP579,NaN,"IOSAFE 1019+ NAS 5X4TB WITH 5YR, DATA RECOVERY...",In Stock,2,4557.08,2020-08-17
1048473,1241,IOSAFE,75200-3838-1500,6QP579,NaN,"IOSAFE 1019+ NAS 5X4TB WITH 5YR, DATA RECOVERY...",In Stock,2,4557.08,2020-08-17

1. Which are the top Manufacturers with price, quantity,

In [44]:
top_price =stock_df.sort_values(['price','qty'],ascending=(False,False))

print(top_price[['manufacturer','price','qty']].drop_duplicates().head(10))

                       manufacturer    price    qty
625985  DELL CSG SERVICE WARRANTIES  3800.72   9999
625984          DELL ESG WARRANTIES  2804.29   9999
399288  IM CHOICE ADVANTAGE - GOVED  2502.50   9999
625983          DELL ESG WARRANTIES  2415.43   9999
625982  DELL CSG SERVICE WARRANTIES  2375.33   9999
625994  DELL CSG SERVICE WARRANTIES  2262.32   9999
625978          DELL ESG WARRANTIES  2175.08   9999
625971          DELL ESG WARRANTIES  1066.99  19998
69585   IM CHOICE ADVANTAGE - GOVED   500.50  39996
628430          DELL ESG WARRANTIES  1984.58   9999

2.Which are the most profitable products?

In [45]:
stock_df ['total_cost'] = stock_df['price']*stock_df ['qty'] 
stock_df

<ipython-input-45-7d938165f28b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_df ['total_cost'] = stock_df['price']*stock_df ['qty']

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date,total_cost
253,9920,CASE LOGIC-PERSONAL & PORTABLE,3200943,BA6371,NaN,"LAPTOP ROLLING CASE BLACK, SECURITY FRIENDLY 17IN",In Stock,7,99.00,2020-08-17,693.00
271,531,OMNITRON SYSTEMS,7206-0,BA6834,NaN,"1000BASE-SX SFP LC/MM/DF 850NM, 550M PLUGGABLE...",In Stock,2,59.09,2020-08-17,118.18
320,9070,ZEBRA ENTERPRISE MCD-A1,SAC5070-800CR,BC0227,NaN,"RS507 8SLOT BATTERY CHARGE KIT, EXT PWR SUPL/U...",In Stock,3,500.06,2020-08-17,1500.18
324,9080,ZEBRA ENTERPRISE MCD-A1,KT-CLMPT-RS507-01R,BC0232,NaN,"RS507 TRIGGER SWIVEL DOES NOT, INCLUDE STRAP/B...",In Stock,115,86.34,2020-08-17,9929.10
326,9080,ZEBRA ENTERPRISE MCD-A1,KT-PAD-RS507-10R,BC0234,NaN,"10 CT COMFORT PADS FOR RS507,",In Stock,42,51.80,2020-08-17,2175.60
...,...,...,...,...,...,...,...,...,...,...,...
1048469,1241,IOSAFE,75200-3838-1500,6QP579,NaN,"IOSAFE 1019+ NAS 5X4TB WITH 5YR, DATA RECOVERY...",In Stock,2,4557.08,2020-08-17,9114.16
1048470,1241,IOSAFE,75200-3838-1500,6QP579,NaN,"IOSAFE 1019+ NAS 5X4TB WITH 5YR, DATA RECOVERY...",In Stock,2,4557.08,2020-08-17,9114.16
1048471,1241,IOSAFE,75200-3838-1500,6QP579,NaN,"IOSAFE 1019+ NAS 5X4TB WITH 5YR, DATA RECOVERY...",In Stock,2,4557.08,2020-08-17,9114.16
1048472,1241,IOSAFE,75200-3838-1500,6QP579,NaN,"IOSAFE 1019+ NAS 5X4TB WITH 5YR, DATA RECOVERY...",In Stock,2,4557.08,2020-08-17,9114.16
1048473,1241,IOSAFE,75200-3838-1500,6QP579,NaN,"IOSAFE 1019+ NAS 5X4TB WITH 5YR, DATA RECOVERY...",In Stock,2,4557.08,2020-08-17,9114.16

In [46]:
top_price =stock_df.sort_values(["total_cost"],ascending=(False))

print(top_manufac[['description','top_price']].drop_duplicates().head(10))

                                              description    top_price
625985                               5YR PROSUPPORT PLUS,  38003399.28
625984                               5YR PROSUPPORT PLUS,  28040095.71
399288    FED ADVANTAGE CONTRACT SUPPORT-, STARTING LEVEL  25022497.50
625983                               5YR PROSUPPORT PLUS,  24151884.57
625982                               3YR PROSUPPORT PLUS,  23750924.67
625994                   3YR PROSUPPORT MISSION CRITICAL,  22620937.68
625978                               5YR PROSUPPORT PLUS,  21748624.92
625971                   3YR PROSUPPORT MISSION CRITICAL,  21337666.02
69585   GSA PASS THROUGH SVC 12MO SUBS, EMAIL SO#:GOVE...  20017998.00
628430                   3YR BASIC ONSITE TO 5YR PROSUPT,  19843815.42


3. Which is the product where you have seen decrease in the price?

In [53]:
product_df= top_price.drop_duplicates()
product_df.head(2)

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date,total_cost
625985,1221,DELL CSG SERVICE WARRANTIES,818-6447,3DB700,NaN,"5YR PROSUPPORT PLUS,",In Stock,9999,3800.72,2020-08-17,38003399.28
625984,1221,DELL ESG WARRANTIES,818-6446,3DB699,NaN,"5YR PROSUPPORT PLUS,",In Stock,9999,2804.29,2020-08-17,28040095.71

In [71]:
product_df = pd.DataFrame(product_df)

In [58]:
import datetime as dt

In [73]:
for index, row in product_df.iterrows(): 
    fhighest_price=product_df[product_df["part_number"]==row['part_number']].nlargest(1,'price') 
    fsmallest_price=product_df[product_df["part_number"]==row['part_number']].nsmallest(1,'price') 
    higest_price=float(fhighest_price['price'])
    smallest_price= float(fsmallest_price['price'])
    
    highest_price_date = int(pd.to_datetime(fhigest_price['sku_create_date']).dt.day)
    smallest_price_date = int(pd.to_datetime(fsmallest_price['sku_create_date']).dt.day)
    
    if(higest_price !=smallest_price):
        if smallest_price_date > highest_price_date:
            difference = highest_price-smallest_price
            print("Part Number", row['part_number'])
            print("Highest Price :",highest_price)
            print("Smallest Price :",smallest_price)
            print("Difference in Price :",price_difference,'\n')
            print("*")* 10

4. Which is the product where you have seen increase in the price?

In [ ]:
for i, r in product_df.iterrows(): 
    fhighest_price=product_df[product_df["part_number"]==row['part_number']].nlargest(1,'price') 
    fsmallest_price=product_df[product_df["part_number"]==row['part_number']].nsmallest(1,'price') 
    higest_price=float(fhighest_price['price'])
    smallest_price= float(fsmallest_price['price'])
    
    highest_price_date = int(pd.to_datetime(fhigest_price['sku_create_date']).dt.day)
    smallest_price_date = int(pd.to_datetime(fsmallest_price['sku_create_date']).dt.day)
    
    if(higest_price !=smallest_price):
        if smallest_price_date < highest_price_date:
            difference = highest_price-smallest_price
            print("Part Number", row['part_number'])
            print("Highest Price :",highest_price)
            print("Smallest Price :",smallest_price)
            print("Difference in Price :",price_difference,'\n')
            print("*")* 10

5. Which is the top category by price and quantity?

In [70]:
top_category = stock_df.sort_values(['price','qty'],ascending=(False,False))
print(top_category[['category','price','qty']].drop_duplicates().head(10))

         category     price  qty
1017049       521  20144.08    1
638771        521  19556.00    6
459686        531  18251.60    6
841992        521  18251.60    5
493956        573  16999.12    1
432692        521  16786.56   23
638770        521  14849.21   16
720993        521  14558.86    3
668331        521  14450.90    5
626392        661  13150.27    5

7. How to Decrease the product aging?
Ans:
 To decrease the aging of the products, products need to be sold by giving exciting offers. Also, need to analylis which products are less popular according to the custome demand products need to be purchased.

 ##Data Not in Stock

In [75]:
nt_stock_df = df[df['status']=="No Stock"]
nt_stock_df

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
0,1539,MS-OPEN VALUE SUBSCRIPTION,021-09108,BA0011,NaN,"1YR OFFICESTD ALNG LICSAPK OLV, D AP",No Stock,0,143.58,2020-08-17
1,1539,MS-OPEN VALUE SUBSCRIPTION,059-07014,BA0025,NaN,"1YR WORD ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
2,1539,MS-OPEN VALUE SUBSCRIPTION,065-06444,BA0039,NaN,"1YR EXCEL ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
3,1539,MS-OPEN VALUE SUBSCRIPTION,076-04355,BA0067,NaN,"1YR PRJCT ALNG LICSAPK OLV D AP,",No Stock,0,217.60,2020-08-17
4,1582,MS-OPEN VALUE SUBSCRIPTION,077-05318,BA0080,NaN,"1YR ACCESS ALNG LICSAPK OLV D, AP",No Stock,0,56.09,2020-08-17
...,...,...,...,...,...,...,...,...,...,...
1048570,1241,IOSAFE DIRECT SHIP,75200-3838-1500,6QP586,NaN,"IOSAFE 1019+ NAS 5X4TB WITH 5YR, DATA RECOVERY...",No Stock,0,4557.08,2020-08-17
1048571,1241,IOSAFE DIRECT SHIP,75200-3838-1500,6QP586,NaN,"IOSAFE 1019+ NAS 5X4TB WITH 5YR, DATA RECOVERY...",No Stock,0,4557.08,2020-08-17
1048572,1241,IOSAFE DIRECT SHIP,75200-3840-1500,6QP587,NaN,"IOSAFE 1019+ NAS 5X8TB WITH 5YR, DATA RECOVERY...",No Stock,0,7034.83,2020-08-17
1048573,1241,IOSAFE DIRECT SHIP,75200-3840-1500,6QP587,NaN,"IOSAFE 1019+ NAS 5X8TB WITH 5YR, DATA RECOVERY...",No Stock,0,6836.14,2020-08-17
1048574,1241,IOSAFE DIRECT SHIP,75200-3840-1500,6QP587,NaN,"IOSAFE 1019+ NAS 5X8TB WITH 5YR, DATA RECOVERY...",No Stock,0,6836.14,2020-08-17

8. Which are the top Manufacturers with price, quantity,

In [77]:
ntop_price =nt_stock_df.sort_values(['price','qty'],ascending=(False,False))

print(ntop_price[['manufacturer','price','qty']].drop_duplicates().head(10))

                        manufacturer        price  qty
1046052                       ALTNET  84974533.10    0
1046051                       ALTNET  28324844.37    0
973610          JUNIPER ROW SERVICES  10449000.00    0
973606          JUNIPER ROW SERVICES   6966000.00    0
997704    JUNIPER ENTERPRISE ROUTING   5600000.00    0
388644        CISCO - CCW MULTI YEAR   4700430.00    0
388652        CISCO - CCW MULTI YEAR   4476600.00    0
971703   HPE - ENTERPRISE NETWORKING   4173518.27    0
388568        CISCO - CCW MULTI YEAR   3837086.35    0
388645        CISCO - CCW MULTI YEAR   3820950.00    0

9. Which are the most profitable products?

In [78]:
nt_stock_df ['total_cost'] = stock_df['price']*stock_df ['qty'] 
nt_stock_df

<ipython-input-78-b7b6465a44e4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nt_stock_df ['total_cost'] = stock_df['price']*stock_df ['qty']

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date,total_cost
0,1539,MS-OPEN VALUE SUBSCRIPTION,021-09108,BA0011,NaN,"1YR OFFICESTD ALNG LICSAPK OLV, D AP",No Stock,0,143.58,2020-08-17,NaN
1,1539,MS-OPEN VALUE SUBSCRIPTION,059-07014,BA0025,NaN,"1YR WORD ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17,NaN
2,1539,MS-OPEN VALUE SUBSCRIPTION,065-06444,BA0039,NaN,"1YR EXCEL ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17,NaN
3,1539,MS-OPEN VALUE SUBSCRIPTION,076-04355,BA0067,NaN,"1YR PRJCT ALNG LICSAPK OLV D AP,",No Stock,0,217.60,2020-08-17,NaN
4,1582,MS-OPEN VALUE SUBSCRIPTION,077-05318,BA0080,NaN,"1YR ACCESS ALNG LICSAPK OLV D, AP",No Stock,0,56.09,2020-08-17,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1048570,1241,IOSAFE DIRECT SHIP,75200-3838-1500,6QP586,NaN,"IOSAFE 1019+ NAS 5X4TB WITH 5YR, DATA RECOVERY...",No Stock,0,4557.08,2020-08-17,NaN
1048571,1241,IOSAFE DIRECT SHIP,75200-3838-1500,6QP586,NaN,"IOSAFE 1019+ NAS 5X4TB WITH 5YR, DATA RECOVERY...",No Stock,0,4557.08,2020-08-17,NaN
1048572,1241,IOSAFE DIRECT SHIP,75200-3840-1500,6QP587,NaN,"IOSAFE 1019+ NAS 5X8TB WITH 5YR, DATA RECOVERY...",No Stock,0,7034.83,2020-08-17,NaN
1048573,1241,IOSAFE DIRECT SHIP,75200-3840-1500,6QP587,NaN,"IOSAFE 1019+ NAS 5X8TB WITH 5YR, DATA RECOVERY...",No Stock,0,6836.14,2020-08-17,NaN
1048574,1241,IOSAFE DIRECT SHIP,75200-3840-1500,6QP587,NaN,"IOSAFE 1019+ NAS 5X8TB WITH 5YR, DATA RECOVERY...",No Stock,0,6836.14,2020-08-17,NaN

In [84]:
ntop_price =nt_stock_df.sort_values(["total_cost"],ascending=(False))

print(ntop_price[['part_number','description','price']].drop_duplicates().head(10))

  part_number                                        description   price
0   021-09108               1YR OFFICESTD ALNG LICSAPK OLV, D AP  143.58
1   059-07014                    1YR WORD ALNG LICSAPK OLV D AP,   56.09
2   065-06444                   1YR EXCEL ALNG LICSAPK OLV D AP,   56.09
3   076-04355                   1YR PRJCT ALNG LICSAPK OLV D AP,  217.60
4   077-05318                  1YR ACCESS ALNG LICSAPK OLV D, AP   56.09
5   079-04668                1YR PWRPOINT ALNG LICSAPK OLV D, AP   56.09
6   125-00511          1YR VSTEAMFNDTNSVR ALNG LICSAPK, OLV D AP  125.15
7   126-01023  1YR VSTEAMFNDTNSVRCAL ALNG, LICSAPK OLV D AP D...  124.76
8   126-01024  1YR VSTEAMFNDTNSVRCAL ALNG, LICSAPK OLV D AP U...  143.58
9   164-05581                  1YR PBLSHR ALNG LICSAPK OLV D, AP   56.09

12. Which is the top category by price and quantity?

In [85]:
ntop_category = nt_stock_df.sort_values(['price','qty'],ascending=(False,False))
print(ntop_category[['category','price','qty']].drop_duplicates().head(10))

         category        price  qty
1046052      1231  84974533.10    0
1046051      1231  28324844.37    0
973610       1241  10449000.00    0
973606       1241   6966000.00    0
997704       1241   5600000.00    0
388644       1221   4700430.00    0
388652       1221   4476600.00    0
971703       1577   4173518.27    0
388568       1221   3837086.35    0
388645       1221   3820950.00    0